/* Basic Profile Container */
.user-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Profile Image */
.profile-img-container {
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
}

/* User Information */
.user-container h1 {
    font-size: 24px;
    color: #333;
}

.user-container p {
    font-size: 18px;
    color: #555;
}

/* Buttons */
.btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Logout Button */
.logout-btn {
    background-color: #dc3545;
}

.logout-btn:hover {
    background-color: #c82333;
}



.user-actions {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-actions .username {
    font-size: 18px;
    color: #fff;
}

.auth-btn {
    color: #fff;
    background-color: #007BFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.auth-btn:hover {
    background-color: #0056b3;
}
